modules = ["python-3.11", "postgresql-16", "python3"]

[nix]
channel = "stable-24_05"
packages = ["cairo", "ffmpeg-full", "freetype", "geos", "ghostscript", "gitFull", "glibcLocales", "gobject-introspection", "gtk3", "lcms2", "libGL", "libGLU", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "openssl", "pkg-config", "playwright-driver", "postgresql", "qhull", "tcl", "tesseract", "tk", "xsimd", "zip", "zlib"]

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5002
externalPort = 3000

[[ports]]
localPort = 5003
externalPort = 3001

[[ports]]
localPort = 5004
externalPort = 3002

[[ports]]
localPort = 5006
externalPort = 3003

[[ports]]
localPort = 5007
externalPort = 4200

[agent]
integrations = ["perplexity_v0==1.0.0", "flask_stripe==1.0.0", "python_anthropic==1.0.0", "python_openai==1.0.0", "python_database==1.0.0", "styling_replit==1.0.0", "python_log_in_with_replit==1.0.0", "python_sendgrid==1.0.0", "python_gemini==1.0.0", "web_scraper==1.0.0"]
